@font-face {
  font-family: 'minecraftfive';
  src: url('../fonts/minecraft-five-825cb-webfont.woff2') format('woff2'), url('../fonts/minecraft-five-825cb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'minecraftten';
  src: url('../fonts/minecraft-ten-b8f2d-webfont.woff2') format('woff2'), url('../fonts/minecraft-ten-b8f2d-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: minecraftfive, Arial, Helvetica, sans-serif;
}

.ten {
  font-family: minecraftten, Arial, Helvetica, sans-serif;
}

#canvas {
  width: 320px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}


.item1 {
  background-color: rgb(163, 163, 163);
  height: auto;
  width: auto;
  padding-left: 7px;
  padding-right: 7px;
  margin: 8px;
}

#output {
  grid-area: display;
  background-color: rgb(134, 134, 134);
  height: auto;
  width: auto;
  display: flexbox;
  margin: 8px;
}

.left_button, .right_button, .text_button {
  color: white;
  height: 40px;
  width: 40px;
  box-shadow: 0 -4px rgb(21 108 0 / 50%) inset, 0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset, 4px 0 rgb(21 108 0 / 50%) inset;
  background: #34aa2f;
} */

.left_button, .right_button, .preset_buttons {
  cursor: pointer;
}

#color_panel h2, .item1 h2, #output h2 {
  margin-top: 1px;
  margin-bottom: 0px;
  text-align: center;
}

body h1 {
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 5px;
}

#color_panel h2, .item1 h2, #output h2 {
  margin-top: 1px;
  margin-bottom: 0px;
  text-align: center;
}

.smaller {
  font-size: 10px;
}

.user_avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 1px
}

.buttons img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.buttons {
  margin: 0 auto;
  justify-content: center;
  display: flex
}

.preset_container {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 0px;
  margin-top: 0px;
}

.preset_container img {
  cursor: pointer;
}

.presetimage {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 1px;
}

#progress {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.preset_container {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

.reset_padding_margin {
  margin-top: 0px;
  margin-bottom: 8px;
  padding-left: 5px;
}

.preset_buttons {
  box-shadow: 0 -4px rgb(108 108 108 / 50%) inset, 0 4px rgb(253 253 253 / 99%) inset, -4px 0 rgb(100 100 100 / 50%) inset, 4px 0 rgb(21 21 21 / 50%) inset;
  background: #acacac;
  height: 30px;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: bolder;
}

.invisible {
  display: none;
}

.descriptionShareText {
  padding-left: 10px;
  padding-right: 10px;
}

.centeredImage, .sharedPreset {
  text-align: center;
}

/* Extras */

body {
  background-color: #d29196;
  background-image: linear-gradient(#005592, #d29196);
}

.grid-containerA>div {
  background-image: linear-gradient(#94979f, #c4b9b7);
  border: 5px solid #64606e;
  box-shadow: inset 0 -4px 50px 0px #968f8f, inset 0 -6px 0 0px #868086;
}

.category {
  display: grid;
  grid-gap: 5px;
  padding: 5px;
  width: auto;
  grid-template-columns: auto;
  float: left;
}

.category-image {
  height: 50px;
  cursor: pointer;
  user-select: none;
}

.grid-containerA {
  display: flex;
  justify-content: center;
}

.parts {
  padding-top: 0;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  min-width: 180px;
}

.parts img {
  padding: 5px;
}

#hint-text {
  width: 160px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 0;
}

.category .category-image {
  height: 40px;
}

.colours {
  float: left;
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
}

.colour {
  width: 35px;
  height: 35px;
  background-color: red;
  margin: 4px;
  cursor: pointer;
  border: none;
  border-radius: 0;
}

.center-childen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.center-childen>div {
  background-image: linear-gradient(#94979f, #c4b9b7);
  border: 5px solid #64606e;
  box-shadow: inset 0 -4px 50px 0px #968f8f, inset 0 -6px 0 0px #868086;
}

.title>a {
  text-shadow: 0 3px cornflowerblue;
  font-weight: 100;
  font-size: 35px;
  font-family: minecraftten, Arial, Helvetica, sans-serif;
}

.title>img {
  height: 25px;
  padding-left: 5px;
}

.title {
  text-align: center;
}

.footnote {
  margin-left: 10px;
}

@media screen and (max-width: 650px) {
  .grid-containerA {
    display: block;
  }
  .category {
    display: block;
  }
  .category-image {
    height: 55px !important;
  }
  .colours {
    float: none;
    justify-content: center;
    margin-bottom: 10px;
    display: flex;
  }
  #hint-text {
    margin-top: 0;
    margin-left: 5px;
    width: unset;
  }
  #output {
    text-align: center;
  }
  .parts {
    display: block;
  }
  .colour {
    display: inline-block;
  }
  .bits-and-bobs {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #canvas {
    width: 100%;
    max-width: 320px;
  }
  .footnote {
    text-align: center;
  }
}