@font-face {
  font-family: 'minecraftfive';
  src: local('sans-serif'), url('../fonts/minecraft-five-825cb-webfont.woff2') format('woff2'), url('../fonts/minecraft-five-825cb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'minecraftten';
  src: local('sans-serif'), url('../fonts/minecraft-ten-b8f2d-webfont.woff2') format('woff2'), url('../fonts/minecraft-ten-b8f2d-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  /* outline: greenyellow 2px solid; */
}

html {
  background-color: #d29196;
}

body {
  font-family: minecraftfive, Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#005592, #d29196);
  margin: 0;
  padding: 8px;
}

h1 {
  text-shadow: 0 3px cornflowerblue;
  font-weight: 100;
  font-size: 35px;
  font-family: minecraftten, Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;

  text-align: center;
  padding-bottom: 0;
  margin-bottom: 5px;
}

.social-buttons {
  text-align: center;
}

.social-buttons img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

.main-panels {
  display: flex;
  justify-content: center;
}

.main-panels > div {
  margin: 8px;
  height: auto;
  width: auto;

  background-image: linear-gradient(#94979f, #c4b9b7);
  border: 5px solid #64606e;
  box-shadow: inset 0 -4px 50px 0px #968f8f, inset 0 -6px 0 0px #868086;
}

.main-panels > div h2 {
  margin-top: 1px;
  margin-bottom: 0px;
  text-align: center;
}

/* customise-panel */

.customise-panel {
  padding-left: 7px;
  padding-right: 7px;
}

.categories {
  display: grid;
  grid-gap: 5px;
  padding: 5px;
  width: auto;
  grid-template-columns: auto;
  float: left;
}

.category-image {
  height: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.element-selected {
  outline: black solid 3px;
}

.parts {
  padding-top: 0;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  min-width: 180px;
}

.parts img {
  margin: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

#hint-text {
  width: 160px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 0;
}

.categories .category-image {
  height: 40px;
}

.colour-container {
  float: left;
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
}

.colour {
  width: 35px;
  height: 35px;
  background-color: rgb(0, 0, 0);
  margin: 4px;
  cursor: pointer;
  border: none;
  border-radius: 0;
}

/* preview-panel */

.preview-panel h3 {
  font-size: unset;
  margin-top: 0px;
  margin-bottom: 8px;
  padding-left: 5px;
}

.canvas-container {
  margin: 0;
  padding: 0;
  
  position: relative;
}

.canvas-container canvas {
  width: 320px;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

.canvas-container img#loading {
  position: absolute;
}

.share-buttons {
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
}

.share-buttons img {
  opacity: 0.3;
}

.share-buttons img:hover {
  opacity: 1;
}

.presets-container {
  margin: 5px;
}

.presets-container img {
  cursor: pointer;
}

.preset-div {
  padding: 1px;
}

.preset-image {
  width: 30px;
  height: 30px;
}

.preset-buttons-container {
  padding-left: 5px;
}

.preset-buttons-container button {
  box-shadow: 0 -3px rgb(108 108 108 / 50%) inset, 0 3px rgb(253 253 253 / 99%) inset, -3px 0 rgb(100 100 100 / 50%) inset, 3px 0 rgb(21 21 21 / 50%) inset;
  background: #acacac;
  height: 30px;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: bolder;
  font-family: minecraftfive, Arial, Helvetica, sans-serif;
  padding: 0px 4px;
  cursor: pointer;
  border: none;
  aspect-ratio: 1;
}

.preset-buttons-container button:hover {
  background: #919191;
}

.preset-div {
  display: inline-block;
  position: relative;
  aspect-ratio: 1;
  margin: 1px;
}

.preset-delete {
  width: 20px;
  position: absolute;
  top: -8px;
  right: -10px;

  z-index: 10;
  display: none;
}

.preset-deletable .preset-delete {
  display: block;
}

/* share-panel */
.share-panel {
  text-align: center;
  padding: 0 10px 10px 10px;
}


.invisible {
  display: none !important;
}

footer {
  margin-left: 10px;
  font-size: 10px;
}

#contributor-section img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 1px
}

@media screen and (max-width: 650px) {
  body {
    
    text-align: center;
  }
  .main-panels {
    display: block;
  }
  .categories {
    display: block;
  }
  .category-image {
    height: 55px !important;
    width: 55px !important;
  }
  .colour-container {
    float: none;
    justify-content: center;
    margin-bottom: 10px;
    display: flex;
  }
  #hint-text {
    margin-top: 0;
    margin-left: 5px;
    width: unset;
  }
  .preview-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .parts {
    display: block;
  }
  .colour {
    display: inline-block;
  }
  .customise-options {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  footer {
    font-size: 12px;
    margin: 0;
  }
}

/* .minecraft-button {
  color: white;
  box-shadow: 0 -4px rgb(21 108 0 / 50%) inset, 0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset, 4px 0 rgb(21 108 0 / 50%) inset;
  background: #34aa2f;
  cursor: pointer;
} */