@font-face {
  font-family: 'minecraftfive';
  src: local('sans-serif'), url('./assets/fonts/minecraft-five-825cb-webfont.woff2') format('woff2'), url('./assets/fonts/minecraft-five-825cb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'minecraftten';
  src: local('sans-serif'), url('./assets/fonts/minecraft-ten-b8f2d-webfont.woff2') format('woff2'), url('./assets/fonts/minecraft-ten-b8f2d-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin box-style {
  background-image: linear-gradient(#94979f, #c4b9b7);
  border: 5px solid #64606e;
  box-shadow: inset 0 -4px 50px 0px #968f8f, inset 0 -6px 0 0px #868086;
}

* {
  box-sizing: border-box;
}


.App {
  background-color: #d29196;
  font-family: minecraftfive, Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#005592, #d29196);
  margin: 0;
  padding: 8px;
}

.title {
  text-shadow: 0 3px cornflowerblue;
  font-weight: 100;
  font-size: 35px;
  font-family: minecraftten, Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;

  text-align: center;
  padding-bottom: 0;
  margin-bottom: 5px;
}

.socialButtons {
  text-align: center;

  img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
  }
}

.mainPanel {
  display: flex;
  justify-content: center;

  >div {
    margin: 8px;
    height: auto;
    width: auto;

    @include box-style();

    h2 {
      margin-top: 1px;
      margin-bottom: 0px;
      text-align: center;
    }
  }

  @media (max-width: 650px) {
    flex-direction: column-reverse;
  }
}


/* customise panel */

.customisePanel {
  padding-left: 7px;
  padding-right: 7px;

  >div {
    @media (max-width: 650px) {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.categories {
  display: grid;
  grid-gap: 5px;
  padding: 5px;
  width: auto;
  grid-template-columns: auto;
  float: left;

  @media (max-width: 650px) {
    display: block;
  }
}

.categoryImage {
  height: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;

  @media (max-width: 650px) {
    height: 55px !important;
    width: 55px !important;
    margin: 0 3px;
  }
}

.categorySelected,
.elementSelected {
  outline: black solid 3px;
}

.parts {
  padding-top: 0;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  min-width: 180px;

  img {
    margin: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
  }

  @media (max-width: 650px) {
    display: block;
  }
}

.hint {
  width: 160px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 0;

  @media (max-width: 650px) {
    margin-top: 0;
    margin-left: 5px;
    width: unset;
  }
}

.categories .categoryImage {
  height: 40px;
}

.colourContainer {
  float: left;
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;

  @media (max-width: 650px) {
    float: none;
    justify-content: center;
    margin-bottom: 10px;
    display: flex;
  }
}

.colour {
  width: 35px;
  height: 35px;
  margin: 4px;
  cursor: pointer;
  border: none;
  border-radius: 0;
  /* aspect-ratio: 1; */
}

input.colour {
  padding: 0;
  outline: 0;
  border: 0;
  background: none;
}

.presetButtons {
  padding-left: 4px;

  button {
    box-shadow: 0 -3px rgb(108 108 108 / 50%) inset, 0 3px rgb(253 253 253 / 99%) inset, -3px 0 rgb(100 100 100 / 50%) inset, 3px 0 rgb(21 21 21 / 50%) inset;
    background: #acacac;
    height: 30px;
    font-size: 10px;
    font-weight: bolder;
    font-family: minecraftfive, Arial, Helvetica, sans-serif;
    padding: 0px 4px;
    margin: 0px 2px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    aspect-ratio: 1;

    &:hover {
      background: #919191;
    }
  }
}

.canvasContainer {
  margin: 0;
  padding: 0;

  position: relative;

  >div {
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;

    img, svg {
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }
    }
  }

  canvas {
    width: 320px;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;

    @media (max-width: 650px) {
      max-width: 320px;
      width: 100%;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
    }
  }
}


.presetContainer {
  margin: 5px;

  img {
    cursor: pointer;
  }

  >div {
    display: inline-block;
    position: relative;
    aspect-ratio: 1;
    margin: 1px;
    padding: 1px;
    max-width: 35px;
  }

  >h3 {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 8px;
  }
}

body {
  @media (max-width: 650px) {
    text-align: center;
  }
}

footer {
  margin-left: 10px;
  font-size: 10px;

  @media (max-width: 650px) {
    font-size: 12px !important;
    margin: 0;
  }
}

.presetImage {
  width: 30px;
  height: 30px;
}

.presetDeleteIcon {
  width: 20px;
  position: absolute;
  top: -8px;
  right: -10px;

  z-index: 10;
}

.presetDeleteIcon {
  display: block;
}

.ShareScreen .presetButtons {
  text-align: center;
}