@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    font-family: 'minecraftfive';
    src: local('sans-serif'), url('./assets/fonts/minecraft-five-825cb-webfont.woff2') format('woff2'), url('./assets/fonts/minecraft-five-825cb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'minecraftten';
    src: local('sans-serif'), url('./assets/fonts/minecraft-ten-b8f2d-webfont.woff2') format('woff2'), url('./assets/fonts/minecraft-ten-b8f2d-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  html {
    background-color: #d29196;
  }

  body {
    background-image: linear-gradient(#005592, #d29196);
  }

  .font-ten {
    font-family: minecraftten;
  }

  .font-five {
    font-family: minecraftfive;
  }

  .box-container {
    @apply mx-2;
    @apply shadow-xl;
    background-image: linear-gradient(#94979f, #c4b9b7);
    border: 5px solid #64606e;
    box-shadow:
      inset 0 -4px 50px 0px #968f8f, inset 0 -6px 0 0px #868086,
      var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      
  }


  .title {
    text-shadow: 0 3px cornflowerblue;
    font-weight: 100;
    font-size: 35px;
    text-align: center;
    margin: 0;

    text-align: center;
    padding-bottom: 0;
    margin-bottom: 5px;
  }


  /* customise panel */
  .category-selector {
    display: grid;
    grid-gap: 5px;
    padding: 5px;
    width: auto;
    grid-template-columns: auto;
    float: left;

    @media (max-width: 640px) {
      display: block;
    }

    img {
      cursor: pointer;
      -webkit-user-select: none;
      height: 40px;
      user-select: none;
      display: inline-block;

      @media (max-width: 640px) {
        height: 55px;
        width: 55px;
      }
    }
  }

  .parts {
    padding-top: 0;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    min-width: 180px;

    img {
      max-width: unset;
      margin: 5px;
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
      display: inline-block;
    }

    @media (max-width: 640px) {
      display: block;
    }
  }

  .colour-container {
    float: left;
    display: grid;
    grid-template-columns: min-content min-content min-content min-content;

    @media (max-width: 640px) {
      float: none;
      justify-content: center;
      margin-bottom: 10px;
    }
  }

  .colour {
    width: 35px;
    height: 35px;
    margin: 4px;
    cursor: pointer;
    border: none;
    border-radius: 0;
  }

  input.colour {
    padding: 0;
    outline: 0;
    border: 0;
    background: none;
  }

  .preset-button {
    box-shadow: 0 -3px rgb(108 108 108 / 50%) inset, 0 3px rgb(253 253 253 / 99%) inset, -3px 0 rgb(100 100 100 / 50%) inset, 3px 0 rgb(21 21 21 / 50%) inset;
    background: #acacac;
    height: 30px;
    font-size: 10px;
    font-weight: bolder;
    font-family: minecraftfive, Arial, Helvetica, sans-serif;
    padding: 0px 4px;
    margin: 0px 2px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    aspect-ratio: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #919191;
    }

  }

  .canvas-container {
    margin: 0;
    padding: 0;

    position: relative;

    display: flex;
    justify-content: center;

    >div {
      position: absolute;
      bottom: 0px;
      right: 0px;
      cursor: pointer;
      display: flex;
      flex-direction: row;

      img,
      svg {
        opacity: 0.3;

        &:hover {
          opacity: 1;
        }
      }
    }

    canvas {
      width: 320px;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;

      @media (max-width: 640px) {
        max-width: 320px;
        width: 100%;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
      }
    }
  }


  .preset-container {
    >div {
      display: inline-block;
      position: relative;
      aspect-ratio: 1;
      margin: 1px;
      padding: 1px;
      max-width: 35px;
    }
  }

  body {
    @media (max-width: 640px) {
      text-align: center;
    }
  }

  footer {
    margin-left: 10px;
    font-size: 10px;

    a {
      @apply underline
    }

    @media (max-width: 640px) {
      font-size: 12px !important;
      margin: 0;
    }
  }

  .preset-icon-overlay {
    width: 20px;
    position: absolute;
    top: -8px;
    right: -10px;

    z-index: 10;
    display: block;
  }
}