@font-face {
  font-family: 'minecraftfive';
  src: local('sans-serif'), url('./assets/fonts/minecraft-five-825cb-webfont.woff2') format('woff2'), url('./assets/fonts/minecraft-five-825cb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'minecraftten';
  src: local('sans-serif'), url('./assets/fonts/minecraft-ten-b8f2d-webfont.woff2') format('woff2'), url('./assets/fonts/minecraft-ten-b8f2d-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

.App {
  background-color: #d29196;
  font-family: minecraftfive, Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#005592, #d29196);
  margin: 0;
  padding: 8px;
}

.title {
  text-shadow: 0 3px cornflowerblue;
  font-weight: 100;
  font-size: 35px;
  font-family: minecraftten, Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;

  text-align: center;
  padding-bottom: 0;
  margin-bottom: 5px;
}

.socialButtons {
  text-align: center;
}

.socialButtons img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

.mainPanel {
  display: flex;
  justify-content: center;
}

.mainPanel>div {
  margin: 8px;
  height: auto;
  width: auto;

  background-image: linear-gradient(#94979f, #c4b9b7);
  border: 5px solid #64606e;
  box-shadow: inset 0 -4px 50px 0px #968f8f, inset 0 -6px 0 0px #868086;
}

.mainPanel>div>h2 {
  margin-top: 1px;
  margin-bottom: 0px;
  text-align: center;
}

/* customise panel */

.customisePanel {
  padding-left: 7px;
  padding-right: 7px;
}

.categories {
  display: grid;
  grid-gap: 5px;
  padding: 5px;
  width: auto;
  grid-template-columns: auto;
  float: left;
}

.categoryImage {
  height: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.categorySelected,
.elementSelected {
  outline: black solid 3px;
}

.parts {
  padding-top: 0;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  min-width: 180px;
}

.parts img {
  margin: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.hint {
  width: 160px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 0;
}

.categories .categoryImage {
  height: 40px;
}

.colourContainer {
  float: left;
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
}

.colour {
  width: 35px;
  height: 35px;
  margin: 4px;
  cursor: pointer;
  border: none;
  border-radius: 0;
}

input.colour {
  padding: 0;
  outline: 0;
  border: 0;
  background: none;
}

.presetButtons {
  padding-left: 4px;
}

.presetButtons button {
  box-shadow: 0 -3px rgb(108 108 108 / 50%) inset, 0 3px rgb(253 253 253 / 99%) inset, -3px 0 rgb(100 100 100 / 50%) inset, 3px 0 rgb(21 21 21 / 50%) inset;
  background: #acacac;
  height: 30px;
  font-size: 10px;
  font-weight: bolder;
  font-family: minecraftfive, Arial, Helvetica, sans-serif;
  padding: 0px 4px;
  margin: 0px 2px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  aspect-ratio: 1;
  
}

.presetButtons button:hover {
  background: #919191;
}

.canvasContainer {
  margin: 0;
  padding: 0;

  position: relative;
}

.canvasContainer canvas {
  width: 320px;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

.canvasContainer img#loading {
  position: absolute;
}

.canvasContainer > div {
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
}

.canvasContainer > div > img {
  opacity: 0.3;
}

.canvasContainer > div > img:hover {
  opacity: 1;
}


.presetContainer {
  margin: 5px;
}

.presetContainer img {
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  body {
    text-align: center;
  }

  .mainPanel {
    display: block;
  }

  .categories {
    display: block;
  }

  .categoryImage {
    height: 55px !important;
    width: 55px !important;
    margin: 0 3px;
  }

  .colourContainer {
    float: none;
    justify-content: center;
    margin-bottom: 10px;
    display: flex;
  }

  .hint {
    margin-top: 0;
    margin-left: 5px;
    width: unset;
  }

  .parts {
    display: block;
  }

  .customisePanel>div {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  footer {
    font-size: 12px !important;
    margin: 0;
  }
}

footer {
  margin-left: 10px;
  font-size: 10px;
}

.presetImage {
  width: 30px;
  height: 30px;
}

.presetContainer > div {
  display: inline-block;
  position: relative;
  aspect-ratio: 1;
  margin: 1px;
  padding: 1px;
}

.presetDeleteIcon {
  width: 20px;
  position: absolute;
  top: -8px;
  right: -10px;

  z-index: 10;
}

.presetDeleteIcon {
  display: block;
}

.presetContainer > h3 {
  font-size: unset;
  margin-top: 0px;
  margin-bottom: 8px;
}

.ShareScreen .presetButtons {
  text-align: center;
}